<!-- hello {{title}}
<br>
My village ninja's name is {{ninjaName}}
<br>
<button type="button" (click)="ninjaConsole()">Console ninja</button>
<button type="button" (click)="changeNinjaName('Kakashi')">Change ninja</button> -->

<span>Come 4 pay 3</span>
<div>
  <input #priceBuffetInput type="text" placeholder="Buffut price"> <!-- "#" is a variable-->
  <button type="button" (click)="callBuffet(priceBuffetInput.value)" >Calculate</button> <!--"text" after (event) is a function-->
</div>
<span>
  {{value}} bath per person
</span>
